.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--header-background-color);
  &__container {
    display: flex;
    align-items: center;
    @media screen and (min-width: 1200px) {
      align-items: baseline;
    }
  }
}

.navigation {
  display: none;
  @media screen and (min-width: 768px) {
    display: contents;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

.js-open-menu {
  margin-left: auto;
  border: none;
  padding: 0;
  border-bottom: none;
  transition: color var(--time) var(--time-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob-menu-list {
  list-style: none;
  text-decoration: none;
  margin-left: 40px;
}
.menu-icon {
  background-color: var(--background-color);
  fill: currentColor;
}

.header__navigation {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.js-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 21px;
  padding-bottom: 48px;
  .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  transform: translateX(100%);
}
.js-menu-container.is-open {
  transform: translateX(0);
}

.js-close-menu {
  background-color: var(--background-color);
  margin-left: auto;
  display: block;
  margin-bottom: 8px;
  padding: 0;
  transition: color var(--time) var(--time-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  border: none;
}

.menu-close__icon {
  fill: currentColor;
}

.mob-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-menu__link {
  @include font(40px, 1.18, 500, 0.02em);
  // font-weight: 500;
  // font-size: 40px;
  // line-height: 1.18;
  // letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.current {
  color: var(--accent-color);
}
.mob-contact {
  list-style: none;
  text-decoration: none;
  margin-bottom: 64px;
}
.mob-contact__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-tel__link {
  @include font(34px, 1.18, 500, 0.02em);
  // font-weight: 500;
  // font-size: 34px;
  // line-height: 1.18;
  // letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}
.mob-mail__link {
  @include font(24px, 1.17, 500, 0.02em);
  // font-weight: 500;
  // font-size: 24px;
  // line-height: 1.17;
  // letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-decoration: none;
}
.mob-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;

  // @media screen and (min-width: 768px) {

  // }
}
.mob-social__item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
}
.mob-social__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-right: 10px;
  padding-bottom: 0;
}
.menu-list {
}
