.team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  // &:not(:last-child) {
  // margin-right: 30px;
  flex-grow: 1;
  width: 100%;
  @media screen and (min-width: 780px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section__title {
  @include font(36, 1.17, 700, 0.03em);
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.17;
  // letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.team__title {
  @include font(16, 1.19, 500, 0.03em);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.19;
  // letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 10px;
}
.team__text {
  @include font(16, 1.19, null, 0.03em);
  // font-size: 16px;
  // line-height: 1.19;
  // letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-align: center;
  padding-right: auto;
  padding-left: auto;
  margin-bottom: 10px;
}
