/*----submit----*/
.submit {
  display: block;
  // margin-left: 93px;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    display: block;
    margin-left: auto;
  }
}

.form-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    display: flex;
    // align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}

.submit__title {
  @include font(14, 1.14, 700, 0.03em);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--background-color);
  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer-form {
  margin-top: 20px;
}
.footer-input {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-background);
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  &:focus {
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
  &::placeholder,
  &:focus-visible {
    @include font(16, 1.25, null, 0.03em);
    // font-size: 16px;
    // line-height: 1.25;
    // letter-spacing: 0.03em;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    &:focus {
      border: 1px solid;
    }
  }
}

.footer-btn-submit {
  @include font(16, 1.88, 700, 0.06em);
  // font-weight: 700;
  // font-size: 16px;
  // line-height: 1.88;
  // letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  // display: inline flex;
  display: inline-flex;
  align-items: center;
  justify-content: baseline;
  min-width: 200px;
  height: 50px;
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  outline: none;
  padding-left: 28px;
  transition: background-color var(--time) var(--time-function);
  &:hover,
  &:focus {
    background-color: var(--second-accent-color);
  }
  @media screen and (min-width: 768px) {
    max-width: 200px;
    // align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 12px;
  }
}
.submit-btn-icon {
  margin-left: 10px;
}
.icon-submit {
  fill: var(--background-color);
}
