:root {
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --footer-background: #2f303a;
  --background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --lighter-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --icons-color: #afb1b8;
  --time: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
